body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    color: aquamarine;
}

h2 {
    font-style: italic;
}

ul li a {
    color: greenyellow;
}

ol li a {
    color: red;
}

/* sebaiknya id tidak digunakan di css */
#p1 {
    color: cadetblue;
}

.p2 {
    color: darkblue;
}

.cetak-tebal {
    font-weight: 700;
}

p.cetak-miring {
    font-style: italic;
}