.hello{
    width: 300px;
    height: 300px;
    background-color: salmon;
    border-radius: 0 50% 50% 50%;
    line-height: 300px;
    text-align: center;
    margin: 50px;
}

.foto{
    width: 300px;
    height: 300px;
    background-color: royalblue;
    border-radius: 50%;
    margin: 50px;
    overflow: hidden;
    border: 2px dashed blue;
}

.foto img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}