/* 
    Text Shadow sama kaya box tapi ga ada inset / spread
    text-shadow(x y blur color)
*/
.text1{
    font: 48px/18px arial;
    font-weight: bold;
    text-shadow: 10px 15px 5px rgba(255, 0, 0, .8);
}
.text2{
    margin-top: 50px;
    text-shadow: 10px 15px 5px rgba(255, 0, 0, .8), -10px -15px 5px rgba(0, 255, 0, .8);
}

/* Box Shadow (x y blur spread color) */
/* Box Shadow (inset x y blur spread color) */
.kotak{
    background-color: limegreen;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, .80);
}

/* spread itu mirip size */
.kotak1{
    background-color: limegreen;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    box-shadow: 10px 15px 25px 50px rgba(0, 0, 0, .80);
}

/* contoh kreatif */
.kotak2{
    background-color: limegreen;
    width: 300px;
    height: 300px;
    margin: 200px auto;
    box-shadow: 0px 30px 25px -20px rgba(0, 0, 0, .80);
    transition: 0.3;
}

.kotak2:hover{
    box-shadow: 0px 80px 25px -40px rgba(0, 0, 0, .80);
    margin-top: 40px;
}

/* inset => bayangan dalam kotak */
.kotak3{
    background-color: limegreen;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    box-shadow: inset 10px 15px 25px rgba(0, 0, 0, .80);
}

/* bisa multi shadow */
.kotak4{
    background-color: limegreen;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    box-shadow: 
        10px 15px 25px 5px rgba(0, 0, 255, .80),
        -10px -15px 25px 5px rgba(255, 0, 0, .80) ;
}