<h3>Data Mahasiswa</h3>
<ul>
    <% mahasiswa.forEach(mhs=> { %>
        <li>Nama = <%= mhs.nama %>
        </li>
        <li>Email = <%= mhs.email %>
        </li>
        <br />
        <% }); %>
</ul>