html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.65;
}

.container{
    width: 800px;
    display: flex;
    background-color: lightgrey;
    padding: 5px 20px;
    box-sizing: border-box;
    margin: 50px auto;
    border-radius: 10px;
}

.bagian-utama{
    order: 2;
    flex: 3;
}

.sidebar1{
    order: 1;
    flex: 1;
}

.sidebar2{
    order: 3;
    flex: 1;
}

.card{
    width: 33.3333%;
    background-color: white;
    margin: 50px 10px;
    border-radius: 10px;
    flex: 1;
}

.header{
    height: 150px;
    background-color: black;
    border-radius: 10px 10px 0 0;
}

.content{
    text-align: center;
    padding-bottom: 10px;
    padding: 10px;
}

.card.besar{
    transform: scale(1.12);
}

.container.bag3{
    justify-content: space-around;
}

.layanan{
    width: 33.3333%;
    margin: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.layanan1{background-color: red;flex: 1;}
.layanan2{background-color: blue;flex: 1;}
.layanan3{background-color: green;flex: 1;}

.container.bag4{
    height: 600px;
    align-items: center;
    justify-content: center;
}

.kotak{
    width: 100px;
    height: 100px;
    background-color: brown;
    color: wheat;
    display: flex;
    text-align: center;
    align-items: center;
}

@media(max-width: 800px){
    .container {
        width: 100%;
        flex-wrap: wrap;
    }

    .sidebar1 { flex: 1; }
    .bagian-utama { flex: 2; }
    .sidebar2 {flex: 1 1 100%;}
    .sidebar2 p{line-height: normal;}

    .container.bag2{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 80%;
        margin: 25px auto;
    }

    .container.bag3{
        flex-direction: column;
        align-items: center;
    }

    .layanan{
        width: 100%;
    }
}