body{
    padding: 50px;
}

.nondisplay{
    border: 5px solid black;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.flex{
    border: 5px solid black;
    width: 100%;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
}

.kotak{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.row{flex-direction: row;}
.row-reverse{flex-direction: row-reverse;}
.column{flex-direction: column;}
.column-reverse{flex-direction: column-reverse;}

.flex-wrap div.kotak{width: 300px;}

.no-wrap{flex-wrap: nowrap;}
.wrap{flex-wrap: wrap;}
.wrap-reverse{flex-wrap: wrap-reverse;}

.justify-content .flex-start{justify-content: flex-start;}
.justify-content .flex-end{justify-content: flex-end;}
.justify-content .center{justify-content: center;}
.justify-content .space-between{justify-content: space-between;}
.justify-content .space-around{justify-content: space-around;}
.justify-content .space-evenly{justify-content: space-evenly;}

.align-items .flex{
    height: 270px;
}

.align-items div.kotak1{
    height: 250px;
    line-height: 180px;
}

.align-items div.kotak2{
    line-height: 180px;
}

.align-items div.kotak3{
    height: 180px;
    line-height: 180px;
}

.align-items div.kotak4{
    height: 125px;
    line-height: 180px;
}

.align-items div.kotak5{
    height: 200px;
    line-height: 180px;
}

.align-items .flex-start{align-items: flex-start;}
.align-items .flex-end{align-items: flex-end;}
.align-items .center{align-items: center;}
.align-items .stretch{align-items: stretch;}
.align-items .baseline{align-items: baseline;}

.align-content .flex{
    flex-wrap: wrap;
    height: 600px;
}

.align-content div.kotak{width: 200px;}

.align-content .flex-start{align-content: flex-start;}
.align-content .flex-end{align-content: flex-end;}
.align-content .center{align-content: center;}
.align-content .stretch{align-content: stretch;}
.align-content .space-between{align-content: space-between;}
.align-content .space-around{align-content: space-around;}

.order div.kotak1{order: 2;}
.order div.kotak2{order: 4;}
.order div.kotak3{order: 5;}
.order div.kotak4{order: 1;}
.order div.kotak5{order: 3;}

.flex-grow .flex div{
    background-color: lightblue;
    border: 1px solid black;
}

.flex-grow .g-01 div.kotak1{flex: 0;}
.flex-grow .g-01 div.kotak2{flex: 1;}
.flex-grow .g-01 div.kotak3{flex: 0;}
.flex-grow .g-01 div.kotak4{flex: 0;}
.flex-grow .g-01 div.kotak5{flex: 0;}

.flex-grow .g-11 div.kotak1{flex: 1;}
.flex-grow .g-11 div.kotak2{flex: 1;}
.flex-grow .g-11 div.kotak3{flex: 1;}
.flex-grow .g-11 div.kotak4{flex: 1;}
.flex-grow .g-11 div.kotak5{flex: 1;}

.flex-grow .g-123 div.kotak1{flex: 1;}
.flex-grow .g-123 div.kotak2{flex: 2;}
.flex-grow .g-123 div.kotak3{flex: 3;}
.flex-grow .g-123 div.kotak4{flex: 4;}
.flex-grow .g-123 div.kotak5{flex: 5;}

.align-self .flex{
    height: 400px;
}

.align-self div.kotak1{align-self: auto;}
.align-self div.kotak2{align-self: flex-start;}
.align-self div.kotak3{align-self: flex-end;}
.align-self div.kotak4{align-self: center;}
.align-self div.kotak5{align-self: baseline;}
.align-self div.kotak6{align-self: stretch;height: auto;}