/* 
    grid-template-areas => "<nama-area> | none |" || "<nama-area> <nama-area>"
    grid-template => shortcut => <grid-template-rows> | <grid-template-areas> / <grid-template-columns>
    column-gap => gap vertical
    row-gap => gap horizontal
    gap => keduanya sekaligus => <gap(both)> || <row-gap> <column-gap>
    grid => shorthand => grid-template-rows, grid-template-columns, grid-template-areas, grid-auto-rows, grid-auto-columns, dan grid-auto-flow
*/