body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.65;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.container{
    width: 80%;
    border: 10px solid black;
    margin: 50px auto;
    padding: 10px;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: violet;
    padding: 50px 0;
}

.content{display: flex;}

.sidebar{flex: 1.5;}

aside{
    background-color: blue;
    padding: 60px 0;
}

nav{
    background-color: red;
    padding: 100px 0;
}

main{
    background-color: brown;
    flex: 3;
    padding: 160px 0;
}

footer{
    background-color: black;
    padding: 10px 0;
}