/* 
    Grid Terminologi =>
    container => display: grid;
    item => 1 level tepat dibawah container
    line => garis horizontal atau vertikal
    cell => satu cell
    area => beberapa cell yang membentuk kotak
    track => baris atau kolom
    gap => jarak spasi antar cell

    Grid Properti

    Container
        grid-template-columns
        grid-template-rows
        grid-auto-columns
        grid-auto-rows
        grid-auto-flow
        grid-template-areas
        grid-template
        grid-column-gap
        grid-row-gap
        grid-gap
        grid
        justify-items
        align-items
        place-items
        justify-content
        align-content
        place-content

    Item
        grid-column-start
        grid-column-end
        grid-row-start
        grid-row-end
        grid-column
        grid-row
        grid-area
        justify-self
        align-self
        place-self
*/