/* 
    Dimensi itu width & height pak
    satuannya bisa px, %, in, mm, pc, pt
*/
.sendiri {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.orangtua {
    width: 300px;
    height: 300px;
    background-color: blue;
}

.anak {
    width: 60%;
    height: 120%;
    background-color: pink;
}


/*  
    overflow ada 4 pak => visible (default), auto, hidden, & scroll
*/
.auto {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    overflow: auto;
}

.hidden {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    overflow: hidden;
}

.scroll {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    overflow: scroll;
}