.satu {
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin: 20px 20px 100px 30px
}

.dua {
    width: 200px;
    height: 200px;
    background-color: green;
    margin: -150px auto 0px;
}

.tiga {
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-bottom: 50px;
}

.empatlima div {
    display: inline-block;
}

.empat {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 0px 100px 0px 20px;
}

.lima {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    margin: 0px 20px 0px -150px;
}